<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input [(ngModel)]="correo" type="email" autocomplete="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" [disabled]="loading" (click)="onLogin()">
    {{ loading ? 'Ingresando...' : 'Ingresar' }}
  </ion-button>
</ion-content>
